body {
  margin: 0;
  font-size: 4rem;
}
div {
  position: absolute;
}
.parent {
  position: relative;
  width: 20rem;
  height: 20rem;
  background-color: orange;
}
.child {
  position: absolute;
  width: 10rem;
  height: 10rem;
}
