body {
  height: 1000px;
}
div {
  position: fixed;
  width: 150px;
  height: 200px;
  border: 1px solid black;
  background-image: url("https://item.kakaocdn.net/do/d84248170c2c52303db27306a00fb861f604e7b0e6900f9ac53a43965300eb9a");
  top: 20px;
  right: 30px;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  text-align: center;
}
