/* * {
  color: red;
} */

li {
  color: blue;
}

div {
  color: green;
}
*/

class 사용법은 .을 찍고 class명 입력 */
/* .orange {
  color: orange;
}

/* id 사용법은 #뒤에 id명 쓰기 */
#orange {
  color: red;
}

.fruits span:first-child {
  color: red;
}
.fruits div:first-child {
  color: orange;
}

/* 홀수번째 자식 선택 */
.fruits *:nth-child(2n + 1) {
  color: blueviolet;
}

/* 테그중 아닌 경우 찾을 때 자주 사용 */
.fruits *:not(span) {
  color: red;
}

/* ::before, after 사용시 content 없으면 html상의 보이는 화면 X */
.box::before {
  content: "앞쪽 -";
}

.box::after {
  content: "- 뒤쪽";
}

[disabled] {
  background-color: red;
}

[type="password"] {
  background-color: orange;
}

/* id는 100점 */
/* #item {
  background-color: red !important;
} */
/* !important는 가장 우선으로 본다 */

.list {
  background-color: orange;
}

#item {
  background-color: skyblue;
}

li {
  background-color: red;
}
/* 
* {
  background-color: dodgerblue;
} */
