.lion {
  color: white;
}

p.lion {
  background-color: red;
}

ul > .lion {
  background-color: green;
}

div .lion {
  font-weight: bolder;
}

.lion ~ li {
  background-color: orange;
}

#tiger {
  background-color: yellow;
}

#tiger + li {
  background-color: skyblue;
}
